
body {
  outline-style: none;
}
/* Animation baleine */
#cadre {
  border: 1px solid white;
}

#bloc {
  width: 50%;
  height: 50%;
  position: relative; /* Permettra de décaler le bloc */
  left: 0px; /* Initialise la position gauche du bloc à déplacer */
}
/* fin animation */

/* Animation kariB */
#cadreContact {
  border: 1px solid white;
}

#blocContact {
  width: 50%;
  height: 50%;
  position: absolute; /* Permettra de décaler le bloc */
   right: 0px;/* Initialise la position basse du bloc à déplacer */
}
/* fin animation */

 /* Animation titre */
 .ml6 {
  position: relative;
  font-weight: 900;
  font-size: 2.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}
 
 /* fin animation titre */

/* style de la nav */

.codeco {
  display: flex;
}

.page_menu {
  margin: 0 auto;
}

.bloc_form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

#bloc_form_contact {
  margin-right: 820px;
  margin-top: -300px;
}

.menu {
  display: flex;
  text-decoration: none;
  list-style: none ;
}

.menu li {
  margin: 15px;
}

.menu li a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  font-size: 1.3em;
}

.menu li a:hover {
  color: hsl(244, 100%, 59%);
}

.liens_h1 {
background-color: hsl(244, 100%, 59%);
border-radius: 50%;
height: 30px;
color: #ffffff;
border: 10px 10px 10px 10px;
outline-style: none;
cursor: pointer;
width: 150px;
text-align: center;
text-decoration: none;
padding: 10px;
line-height: 0;
}

.liens_rouges {
  background-color: hsl(0, 0%, 4%);
  border-radius: 50%;
  height: 30px;
  color: #ffffff;
  border: 10px 10px 10px 10px;
  outline-style: none;
  cursor: pointer;
  width: 80px;
  text-align: center;
  }
.liens_h1:hover, .liens_rouges:hover {
  background-color: #645b55;
}

.liens_h1 a {
  font-size: 0.5em;
  text-decoration: none;
}
/* fin style de la nav */

/* style du centre de la page */

.infos_sur_le_site {
  text-align: center;
  font-size: 3em;
}

#baleine {

  top: 5px;
  width: 50%;
  height: 50%;

  margin-top: 0;
}

.accueil {
  display: none;
}

/* style de la page chapitre */

#editeur {
  width: 500px; // La largeur de l'éditeur
  height: 200px; // La hauteur de l'éditeur
  border: 1px solid black; // Une bordure pour bien voir l'éditeur
  padding: 5px; // Une petite marge intérieure
  overflow: auto; // Cette propriété sert à envoyer le texte à la ligne au cas où il dépasse la largeur définie avant
}

.editButton {
  background-color: #645b55;
  
  color: #ffffff;
}

/* hauteur du titre */

#title {
  display: none;
  margin-top: -200px;
  justify-content: center;
}

 #ableu {
   background-color:  hsl(244, 100%, 59%);
 }
 
 /* h1 de chapitres */

 #chap {
   text-align: center;
 }

 /* Page editChapitres.php */

 .messageDeBienvenue {
   text-align: center;
 }

 /* les liens */

 .disposition {
   display: flex;
   justify-content: space-between;
 }

 /* page de changement d'identifiants */

 h2 {
   text-align: center;
 }

 /* page chapitre partie */

#connecter {
  font-size: 0.5em;
}

 .cadre_chapitres {
   border: 1px solid grey;
   border-radius: 15px 15px 15px 15px;
   width: 90%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   margin: 50px auto;
   padding: 10px 20px;
   text-decoration: none;
   text-align: center;
  }

  .cadre_chapitres a {
    text-decoration: none;
    cursor: pointer;
    padding: 2px 20px;
   }

  .centrage_chapitre {
    width: 30%;
    margin: 30px 80px;
  }

  #explication {
    text-align: center;
  }

  #chapterPosition {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }

  .aligntext {
    text-align: center;
  }
  
  .extraitChap {
    text-align: center;
  }

  .extraitChap span {
    font-size: 2em;
  }

  #table {
  text-align: center;
  }
  #tableau {
   margin: 0 auto;
   border: 1px solid grey;
   border-radius: 15px 15px 15px 15px;
   width: 90%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   margin: 50px auto;
   padding: 10px 20px;
   text-decoration: none;
   text-align: center;
  }
  /* page de contact */

  #bloc_form_contact {
    margin: 0 auto;
  }

  #bloc_form_contact input {
    width: 50%;
    height: 30px;
  }

  #bloc_form_contact textarea {
    width: 50%;
    height: 100px;
  }

  /* Section de commentaire */

  #commentaires {
    text-align: center;
    margin: 0 auto;
    width: 70%;
  }

  #commentName {
    text-align: center;
  }

  #bloc_comments textarea {
    width: 100%;
    height: 100px;
  }
/* Disposition de mes liens chapitre suivant et chapitre precedent */

  #divSuivPrec { 
    display: flex;
    justify-content: space-around;
  }

  /* trucs divers */
  .erreur {
    text-align: center;
  }

  /* Interface admin */

  .cadre_interface {
    border: 1px solid grey;
   border-radius: 15px 15px 15px 15px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 0 20px;
   padding: 10px 20px;
   text-decoration: none;
   text-align: center;
  }
  
  .cadre {
    border: 1px solid grey;
    border-radius: 15px 15px 15px 15px;
  }

  .cadre_tyni {
    border: 1px solid grey;
    border-radius: 15px 15px 15px 15px;
    margin: 0 20px;
    padding: 10px 10px;
  }

  #comSign {
    width: 50%;
    margin: 0 auto;
   }

   .lien_sign_com {
     display: flex;
     justify-content: center;
     text-decoration: none;
   }

#vueChapMaj {
  text-align: center;
}
#vueComSign {
  text-align: center;
}

#cadre_comSign {
  border: 1px solid grey;
  border-radius: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px auto;
  padding: 10px;
}

/* captcha */

#captcha {
  transform: translateX(37%);
}